@model IEnumerable<Comment>

@foreach (var item in Model)
{
    <div class="comment-list">
        <div class="single-comment justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
                <div class="thumb">
                    <img src="~/assets/img/blog/c1.jpg" alt="">
                </div>
                <div class="desc">
                    <h5><a href="#">@item.Name</a></h5>
                    <p class="date">@item.CommentTime.ToString("MMM dd, yyyy") at @item.CommentTime.ToString("HH:mm")</p>
                    <p class="comment">
                        @Html.Raw(item.CommentText)
                    </p>
                </div>
            </div>
        </div>
    </div>
}
